<nav class="ui stackable menu">
  <header class="ui header item"> <a href="/"> Clothing Store Front </a></header>
  <div class="right menu">
    {{#if currentUser}}
      <span class="item user-menu-label">
        <img src="{{currentUser.profileImage}}" alt="{{currentUser.firstName}}" class="menu-profile-image" />
        <span>Logged in as {{currentUser.firstName}} {{currentUser.lastName}}</span>
      </span>
    {{/if}}
    {{#if currentUser}}
      <a id="dashboard" class="item" href="/dashboard">Collection</a>
    {{/if}}
    <a id="about" class="item" href="/contact">About</a>
    <a id="stats" class="item" href="/stats">Stats</a>
    <a id="brands" class="item" href="/brands">Brands</a>
    <a id="contact" class="item" href="/about">Catalogue</a>
    {{#if currentUser}}
      <a id="logout" class="item" href="/logout">Logout</a>
    {{else}}
      <a id="signup" class="item" href="/signup">Signup</a>
      <a id="login" class="item" href="/login">Login</a>
    {{/if}}
  </div>
</nav>

<script>
 const activeMenuItem = document.querySelector("#{{id}}");
 if (activeMenuItem) {
   activeMenuItem.classList.add("active");
 }
</script>
